/* Start Section */
.section {
  position: relative;
  &.video {
    padding: 100px 0 120px;
    background: #1e0f0c;
    @include breakpoint(991) {
      padding: 50px 0;
    }
    .section__background {
      background-image: url(../images/video-background.png);
    }
  }
  &.element {
    padding: 10px 0 50px;
    min-height: 100vh;
    // &::before {
    //   content: '';
    //   position: absolute;
    //   top: -100px;
    //   left: 0;
    //   right: 0;
    //   height: 50%;
    //   width: 100%;
    //   background: #150706;
    //   z-index: -1;
    // }
    @include breakpoint(991) {
      margin-top: 100px;
    }
    .container {
      @media (min-width: 1680px) {
        max-width: 1300px;
      }
    }
    .section__background {
      background-image: url(../images/element-background.png);
      background-size: cover;
      background-position: center top;
      top: 0;
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/rock.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        pointer-events: none;
      }
    }
    .section__content {
      margin-top: -80px;
      margin-bottom: 0;
      &-title {
        margin-bottom: 0;
      }
    }
    .element__item {
      text-align: center;
      cursor: pointer;
      &-image {
        img {
          opacity: 0.5;
          filter: brightness( 130% ) contrast( 130% ) saturate( 0% ) blur( 0px ) hue-rotate( 0deg );
          transition: all 0.5s ease-out;
          @include breakpoint(1439) {
            height: 120px;
          }
          @include breakpoint(991) {
            height: 90px;
          }
        }
      }
      &-content {
        font-size: 22px;
        font-weight: 700;
        color: #6f6f6f;
        margin-top: 10px;
        transition: all 0.3s ease-out;
        @include breakpoint(1919) {
          font-size: 20px;
          margin-top: 5px;
        }
        @include breakpoint(1439) {
          font-size: 16px;
          margin-top: 0;
        }
      }
      &:hover {
        .element__item {
          &-image {
            img {
              opacity: 1;
              filter: brightness( 100% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );
            }
          }
          &-content {
            color: $yellow;
          }
        }
      }
    }
    .elementSwiper {
      .swiper {
        &-button {
          &-next, &-prev {
            width: 40px;
            height: 40px;
            transform: translateY(-50%);
            @include min-breakpoint(576) {
              display: none;
            }
            @include breakpoint(479) {
              width: 35px;
              height: 35px;
            }
          }
        }
      }
    }
    .swiper {
      &-button {
        &-next, &-prev {
          margin-top: 0;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          width: 90px;
          height: 90px;
          @include breakpoint(1439) {
            width: 70px;
            height: 70px;
          }
          @include breakpoint(991) {
            width: 50px;
            height: 50px;
          }
          @include breakpoint(479) {
            width: 40px;
            height: 40px;
          }
          &::after {
            display: none;
          }
        }
        &-next {
          background-image: url(../images/icon-next.png);
        }
        &-prev {
          background-image: url(../images/icon-prev.png);
        }
      }
    }
  }
  &.strategy {
    padding: 100px 0;
    background-color: #242538;
    background-image: url(../images/strategy-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include breakpoint(575) {
      padding: 100px 0 50px;
    }
    .section__content, .section__image {
      margin-bottom: 0;
      margin-top: 50px;
    }
    .section__content {
      transform: translateY(10px);
      opacity: 0;
      transition: opacity 0.2s 0.2s, transform 0.8s 0.2s;
      @include breakpoint(991) {
        margin-top: 30px;
      }
      &.animate {
        transform: translateY(0);
        opacity: 1;
      }
    }
    .section__image {
      position: relative;
      animation: shakeItem2 4s linear 0s infinite normal forwards;
      &-particle {
        position: absolute;
        top: 0;
        left: -15%;
        animation: shakeItem 4s linear 0s infinite normal forwards;
        pointer-events: none;
        @include breakpoint(767) {
          top: -20%;
        }
        @include breakpoint(575) {
          top: -25%;
        }
        @include breakpoint(479) {
          top: -40%;
        }
        img {
          max-width: 70%;
        }
      }
    }
  }
  &.strategys {
    padding: 100px 0;
    background-color: #242538;
    background-image: url(../images/strategy-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    @include breakpoint(575) {
      padding: 100px 0 50px;
    }
    .container {
      @media (min-width: 1439px) {
        max-width: 1400px;
      }
    }
    .swiper-slide {
      margin-bottom: 50px;
      pointer-events: none;
    }
    .swiper-pagination-bullet {
      position: relative;
      background: transparent;
      border: 1px solid rgba($color: #f2e3c6, $alpha: 0.5);
      width: 30px;
      height: 30px;
      opacity: 1;
      @include breakpoint(1439) {
        width: 26px;
        height: 26px;
      }
      @include breakpoint(991) {
        width: 24px;
        height: 24px;
      }
      @include breakpoint(479) {
        width: 18px;
        height: 18px;
      }
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 19px;
        height: 19px;
        border-radius: 50%;
        background: linear-gradient(135deg, #fdf6da, #d8b576);
        opacity: 0;
        transition: all 0.5s ease;
        @include breakpoint(1439) {
          width: 16px;
          height: 16px;
        }
        @include breakpoint(991) {
          width: 13px;
          height: 13px;
        }
        @include breakpoint(479) {
          width: 10px;
          height: 10px;
        }
      }
      &-active {
        &::before {
          opacity: 1;
        }
      }
    }
    .strategys__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: url(../images/strategy-frame.png) center no-repeat;
      background-size: 100%;
      width: 100%;
      height: 100%;
      padding: 50px;
      pointer-events: all;
      margin-bottom: 30px;
      height: 410px;
      &.last {
        background: unset;
        padding: 10px 0;
        height: auto;
        @include breakpoint(1439) {
          padding: 50px 0;
        }
        @include breakpoint(1199) {
          padding: 70px 0;
        }
        @include breakpoint(991) {
          padding: 0;
        }
        .strategys__item {
          &-image {
            flex: 1;
          }
        }
      }
      @include breakpoint(767) {
        height: 320px;
        padding: 0 30px;
      }
      @include breakpoint(479) {
        height: 260px;
        padding: 0 30px;
      }
      @include breakpoint(374) {
        height: 200px;
      }
      &-content, &-image {
        flex: 1;
      }
      &-image {
        @include breakpoint(374) {
          flex: 0.5;
        }
        img {
          @include breakpoint(767) {
            max-height: 250px;
          }
        }
      }
      &-content {
        margin-left: 20px;
        .content__title {
          font-size: 20px;
          font-weight: 700;
          color: $yellow;
          line-height: 1.4;
          margin-bottom: 25px;
          @include breakpoint(1679) {
            margin-bottom: 20px;
          }
          @include breakpoint(1439) {
            margin-bottom: 15px;
          }
          @include breakpoint(767) {
            font-size: 18px;
          }
          @include breakpoint(479) {
            font-size: 16px;
            margin-bottom: 15px;
          }
        }
        .content__text {
          p {
            font-size: 16px;
            line-height: 28px;
            color: $yellow;
            @include breakpoint(1679) {
              font-size: 15px;
              line-height: 25px;
            }
            @include breakpoint(1439) {
              font-size: 13px;
              line-height: 22px;
            }
            @include breakpoint(1199) {
              font-size: 11px;
              line-height: 16px;
            }
            @include breakpoint(479) {
              font-size: 10px;
              line-height: 1.4;
            }
            @include breakpoint(374) {
              font-size: 8px;
            }
            &:first-child {
              margin-bottom: 30px;
              @include breakpoint(1439) {
                margin-bottom: 20px;
              }
              @include breakpoint(1199) {
                margin-bottom: 15px;
              }
              @include breakpoint(479) {
                margin-bottom: 10px;
              }
            }
          }
        }
      }
    }
  }
  &.manifest {
    padding: 100px 0;
    background: url(../images/manifest-background.png) center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    // @include breakpoint(991) {
    //   padding: 50px 0;
    // }
    .manifest__content {
      img {
        width: 100%;
        max-width: unset;
      }
    }
  }
  &.roadmap {
    padding: 100px 0;
    background: url(../images/roadmap-background.png) center no-repeat;
    background-size: cover;
    .roadmap__item {
      background: url(../images/roadmap-item.png) center no-repeat;
      background-size: contain;
      width: 100%;
      height: 360px;
      &-content {
        padding: 30px 60px 80px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        .content__title {
          font-size: 28px;
          font-weight: 700;
          color: #1e0f0c;
          margin-bottom: 20px;
        }
        .content__text {
          font-size: 16px;
          color: #050100;
        }
      }
    }
  }
  &.partner {
    padding: 100px 0 200px;
    @include breakpoint(991) {
      padding: 100px 0;
    }
    @include breakpoint(575) {
      padding: 100px 0 50px;
    }
    .section__content {
      margin: 30px 0 80px;
    }
    .partner__image {
      img {
        display: block;
        margin: auto;
        @include breakpoint(575) {
          max-width: 150px;
        }
        @include breakpoint(374) {
          max-width: 100%;
        }
      }
    }
  }
  &.team {
    padding: 100px 0;
    .container {
      @media (min-width: 1680px) {
        max-width: 1366px;
      }
    }
    .team__item {
      position: relative;
      height: 350px;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: url(../images/team-frame.png) center no-repeat;
        background-size: contain;
      }
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include breakpoint(1679) {
          max-width: 80%;
        }
      }
    }
    .team__content {
      text-align: center;
      &-name {
        text-transform: uppercase;
        font-size: 22px;
        font-weight: 700;
        color: $yellow;
      }
      &-position {
        font-size: 16px;
        color: $yellow;
      }
    }
  }
  &.register {
    padding: 50px 0;
    min-height: 150vh;
    .section__background {
      top: 0;
      background-image: url(../images/register-background.jpg);
      background-size: cover;
    }
    .section__content {
      max-width: 500px;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 30px;
      &-title {
        font-size: 32px;
        @include breakpoint(991) {
          font-size: 30px;
        }
        @include breakpoint(767) {
          font-size: 28px;
        }
        @include breakpoint(575) {
          font-size: 26px;
        }
        @include breakpoint(479) {
          font-size: 24px;
        }
      }
    }
  }
  .section__divider {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 80px;
    background: url(../images/section-divider.png) center no-repeat;
    background-size: contain;
  }
  .section__background {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    @include breakpoint(1679) {
      top: 5%;
    }
    @include breakpoint(1439) {
      top: 0;
    }
    @include breakpoint(991) {
      background-size: cover;
      top: 10%;
    }
  }
  .section__content {
    margin-bottom: 50px;
    &-title {
      font-size: 38px;
      font-weight: 700;
      color: $yellow;
      margin-bottom: 30px;
      line-height: 1.4;
      @include breakpoint(1439) {
        font-size: 36px;
      }
      @include breakpoint(1199) {
        font-size: 34px;
      }
      @include breakpoint(991) {
        font-size: 32px;
      }
      @include breakpoint(767) {
        font-size: 30px;
      }
      @include breakpoint(575) {
        font-size: 28px;
      }
      @include breakpoint(479) {
        font-size: 26px;
      }
      @include breakpoint(374) {
        font-size: 24px;
      }
      span {
        display: block;
        white-space: nowrap;
      }
    }
    &-text {
      font-size: 16px;
      color: $yellow;
      line-height: 1.5;
      @include breakpoint(991) {
        font-size: 14px;
      }
      span {
        display: block;
      }
    }
  }
  .section__video {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 270px 0;
    @include breakpoint(1679) {
      padding: 260px 0;
    }
    @include breakpoint(1439) {
      padding: 250px 0;
    }
    @include breakpoint(1199) {
      padding: 200px 0;
    }
    @include breakpoint(991) {
      padding: 180px 0;
    }
    @include breakpoint(767) {
      padding: 140px 0;
    }
    @include breakpoint(479) {
      padding: 120px 0;
    }
    @include breakpoint(374) {
      padding: 100px 0;
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background: url(../images/video-frame.png) center no-repeat;
      background-size: 100%;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      right: 0;
      transform: translate(-50%, -50%);
      background: url(../images/video-image.png) center no-repeat;
      background-size: 100%;
      width: 90%;
      height: 90%;
    }
    &-content {
      z-index: 5;
      a {
        position: relative;
        img {
          display: block;
          width: 130px;
          height: 130px;
          @include breakpoint(1919) {
            width: 120px;
            height: 120px;
          }
          @include breakpoint(1679) {
            width: 110px;
            height: 110px;
          }
          @include breakpoint(1439) {
            width: 100px;
            height: 100px;
          }
          @include breakpoint(991) {
            width: 90px;
            height: 90px;
          }
          @include breakpoint(767) {
            width: 70px;
            height: 70px;
          }
          @include breakpoint(575) {
            width: 60px;
            height: 60px;
          }
          @include breakpoint(374) {
            width: 50px;
            height: 50px;
          }
        }
        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          background: rgba(0, 0, 0, 0.3);
          transition: all 0.5s ease;
          z-index: -1;
        }
        &:hover {
          &::after {
            transform: scale(2, 2);
            opacity: 0;
          }
        }
      }
    }
  }
  .section__form {
    max-width: 500px;
    margin: auto;
    form {
      margin: auto;
      text-align: center;
      label {
        display: block;
        font-size: 18px;
        font-weight: 500;
        color: $yellow;
        margin-bottom: 20px;
        @include breakpoint(991) {
          font-size: 16px;
        }
      }
      input {
        max-width: 400px;
        width: 100%;
        color: $yellow;
        border: 1px solid #bdbdbd;
        background: #1b0d0a;
        border-radius: 5px;
        padding: 15px 15px;
        transition: all 0.5s ease-out;
        &, &::placeholder {
          font-size: 14px;
          font-weight: 500;
        }
        &::placeholder {
          color: #828282;
        }
        &:focus {
          outline: none;
          border-color: $yellow;
        }
      }
      button {
        display: block;
        margin: auto;
        background: linear-gradient(to right, #CA7817, #F6F2A2);
        color: white;
        font-size: 15px;
        font-weight: 700;
        border: 1px solid $yellow;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
        margin-top: 30px;
        min-width: 160px;
        cursor: pointer;
        transition: all 0.5s ease-out;
        &:hover {
          background: linear-gradient(to left, #CA7817, #F6F2A2);
        }
      }
    }
  }
}
.section.element {
  .section__background {
    height: 300px;
  }
}
.section.p2e {
  @include breakpoint(991) {
    padding: 50px 0;
    height: 100%;
  }
}
.section.roadmap {
  .roadmap__item {
    &-content {
      .content__title {
        @include breakpoint(374) {
          font-size: 1.25em;
        }
      }
      .content__text {
        @include breakpoint(374) {
          font-size: 0.9em;
        }
      }
    }
  }
}
.section.team {
  .team__item {
    img {
      transition: all 0.5s ease-out;
    }
    &:hover {
      img {
        filter: unset;
      }
    }
  }
  .team__content {
    margin-top: 15px;
  }
}
/* End Section */