/* Start Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  background-color: #150706;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
  cursor: pointer;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

p {
  margin: 0;
}

ul, li {
  list-style: none;
  margin: 0;
}

img {
  max-width: 100%;
}

.wrapper {
  overflow: hidden;
}

.overflow-hidden {
  overflow: hidden;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb-sm-20 {
  @media (min-width: 576px) {
    margin-bottom: 20px;
  }
}

.btn {
  display: inline-block;
  position: relative;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.8;
  padding: 8px 16px;
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: transparent;
  text-align: center;
  transition: all 0.5s ease-out;
  &-yellow {
    background-color: $yellow;
    color: $brown;
    border-color: $yellow;
    &:hover {
      background-color: transparent;
      color: $yellow;
    }
    &-border {
      border-color: $yellow;
      color: $yellow;
      &:hover {
        background-color: $yellow;
        color: $brown;
      }
    }
  }
}
/* End Reset CSS */