/* Start Mixin */
@mixin breakpointminmax($sizemin, $sizemax) {
  @media (min-width: $sizemin + px) and (max-width: $sizemax + px) {
    @content;
  }
}

@mixin breakpoint($size) {
  @media only screen and (max-width: $size + px) {
    @content;
  }
}

@mixin min-breakpoint($size) {
  @media only screen and (min-width: $size + px) {
    @content;
  }
}

@keyframes shake{
  0%, 20%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(-7px);
  }
}
@keyframes shakeItem {
  0%, 20%, 100% {
    transform: translateY(0) scale(0.6);
  }
  40% {
    transform: translateY(-15px) scale(0.7);
  }
  50% {
    transform: translateY(-7px) scale(0.7);
  }
}
@keyframes shakeItem2 {
  0%, 20%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(15px);
  }
  50% {
    transform: translateY(7px);
  }
}
/* End Mixin */