/* Start Variable */
/* End Variable */
/* Start Mixin */
@-webkit-keyframes shake {
  0%, 20%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  50% {
    -webkit-transform: translateY(-7px);
            transform: translateY(-7px);
  }
}
@keyframes shake {
  0%, 20%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  50% {
    -webkit-transform: translateY(-7px);
            transform: translateY(-7px);
  }
}

@-webkit-keyframes shakeItem {
  0%, 20%, 100% {
    -webkit-transform: translateY(0) scale(0.6);
            transform: translateY(0) scale(0.6);
  }
  40% {
    -webkit-transform: translateY(-15px) scale(0.7);
            transform: translateY(-15px) scale(0.7);
  }
  50% {
    -webkit-transform: translateY(-7px) scale(0.7);
            transform: translateY(-7px) scale(0.7);
  }
}

@keyframes shakeItem {
  0%, 20%, 100% {
    -webkit-transform: translateY(0) scale(0.6);
            transform: translateY(0) scale(0.6);
  }
  40% {
    -webkit-transform: translateY(-15px) scale(0.7);
            transform: translateY(-15px) scale(0.7);
  }
  50% {
    -webkit-transform: translateY(-7px) scale(0.7);
            transform: translateY(-7px) scale(0.7);
  }
}

@-webkit-keyframes shakeItem2 {
  0%, 20%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  50% {
    -webkit-transform: translateY(7px);
            transform: translateY(7px);
  }
}

@keyframes shakeItem2 {
  0%, 20%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  50% {
    -webkit-transform: translateY(7px);
            transform: translateY(7px);
  }
}

/* End Mixin */
/* Start Grid */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.3333333333%;
          flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}

.col-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.6666666667%;
          flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3333333333%;
          flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.6666666667%;
          flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}

.col-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.3333333333%;
          flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}

.col-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.6666666667%;
          flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.col-9 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.3333333333%;
          flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.col-11 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 91.6666666667%;
          flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}

.col-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 576px) {
  .col-sm-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
}

@media (min-width: 576px) {
  .col-sm-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
}

@media (min-width: 576px) {
  .col-sm-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (min-width: 576px) {
  .col-sm-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
}

@media (min-width: 576px) {
  .col-sm-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
}

@media (min-width: 576px) {
  .col-sm-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 576px) {
  .col-sm-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
}

@media (min-width: 576px) {
  .col-sm-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
}

@media (min-width: 576px) {
  .col-sm-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
}

@media (min-width: 576px) {
  .col-sm-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
}

@media (min-width: 576px) {
  .col-sm-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
}

@media (min-width: 576px) {
  .col-sm-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .col-md-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
}

@media (min-width: 768px) {
  .col-md-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
}

@media (min-width: 768px) {
  .col-md-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (min-width: 768px) {
  .col-md-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
}

@media (min-width: 768px) {
  .col-md-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
}

@media (min-width: 768px) {
  .col-md-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) {
  .col-md-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
}

@media (min-width: 768px) {
  .col-md-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
}

@media (min-width: 768px) {
  .col-md-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
}

@media (min-width: 768px) {
  .col-md-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
}

@media (min-width: 768px) {
  .col-md-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
}

@media (min-width: 768px) {
  .col-md-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .col-lg-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
}

@media (min-width: 992px) {
  .col-lg-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
}

@media (min-width: 992px) {
  .col-lg-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (min-width: 992px) {
  .col-lg-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
}

@media (min-width: 992px) {
  .col-lg-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
}

@media (min-width: 992px) {
  .col-lg-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .col-lg-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
}

@media (min-width: 992px) {
  .col-lg-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
}

@media (min-width: 992px) {
  .col-lg-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
}

@media (min-width: 992px) {
  .col-lg-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
}

@media (min-width: 992px) {
  .col-lg-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
}

@media (min-width: 992px) {
  .col-lg-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .col-xl-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
}

@media (min-width: 1200px) {
  .col-xl-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
}

@media (min-width: 1200px) {
  .col-xl-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (min-width: 1200px) {
  .col-xl-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
}

@media (min-width: 1200px) {
  .col-xl-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
}

@media (min-width: 1200px) {
  .col-xl-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 1200px) {
  .col-xl-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
}

@media (min-width: 1200px) {
  .col-xl-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
}

@media (min-width: 1200px) {
  .col-xl-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
}

@media (min-width: 1200px) {
  .col-xl-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
}

@media (min-width: 1200px) {
  .col-xl-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
}

@media (min-width: 1200px) {
  .col-xl-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.col-auto {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

@media (min-width: 576px) {
  .col-sm-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .col-md-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .col-lg-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .col-xl-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: block;
}

.d-inline-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 992px) {
  .d-lg-none {
    display: none;
  }
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-white {
  color: white;
}

.m-0 {
  margin: 0 !important;
}

.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-auto {
  margin-top: auto !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mr-auto {
  margin-right: auto !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.ml-auto {
  margin-left: auto !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-auto {
  margin-bottom: auto !important;
}

@media (min-width: 768px) {
  .mb-md-0 {
    margin-bottom: 0 !important;
  }
}

.p-0 {
  margin: 0;
}

.px-0 {
  margin-left: 0;
  margin-right: 0;
}

.px-auto {
  margin-left: auto;
  margin-right: auto;
}

.py-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.py-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.pt-0 {
  margin-top: 0;
}

.pr-0 {
  margin-right: 0;
}

.pl-0 {
  margin-left: 0;
}

.pb-0 {
  margin-bottom: 0;
}

.h-100 {
  height: 100%;
}

.h-auto {
  height: auto !important;
}

.w-100 {
  width: 100% !important;
}

.w-auto {
  width: auto;
}

.align-items-start {
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;
}

.align-items-center {
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.justify-content-center {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

/* End Grid */
/* Start Reset CSS */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  background-color: #150706;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

ul, li {
  list-style: none;
  margin: 0;
}

img {
  max-width: 100%;
}

.wrapper {
  overflow: hidden;
}

.overflow-hidden {
  overflow: hidden;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb50 {
  margin-bottom: 50px;
}

@media (min-width: 576px) {
  .mb-sm-20 {
    margin-bottom: 20px;
  }
}

.btn {
  display: inline-block;
  position: relative;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.8;
  padding: 8px 16px;
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: transparent;
  text-align: center;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.btn-yellow {
  background-color: #fff1d6;
  color: #1e0f0c;
  border-color: #fff1d6;
}

.btn-yellow:hover {
  background-color: transparent;
  color: #fff1d6;
}

.btn-yellow-border {
  border-color: #fff1d6;
  color: #fff1d6;
}

.btn-yellow-border:hover {
  background-color: #fff1d6;
  color: #1e0f0c;
}

/* End Reset CSS */
/* Start Header */
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: transparent;
}

.header .container-fluid {
  padding: 0 120px;
}

@media only screen and (max-width: 1919px) {
  .header .container-fluid {
    padding: 0 90px;
  }
}

@media only screen and (max-width: 1679px) {
  .header .container-fluid {
    padding: 0 60px;
  }
}

@media only screen and (max-width: 1199px) {
  .header .container-fluid {
    padding: 0 40px;
  }
}

@media only screen and (max-width: 991px) {
  .header .container-fluid {
    padding: 0 15px;
  }
}

.header .header__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(36, 37, 56, 0.5);
  opacity: 0;
  visibility: hidden;
  z-index: 99;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header .header__overlay.overlay {
  opacity: 1;
  visibility: visible;
}

.header .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header__menu-logo .logo__link {
  padding: 10px 0;
}

@media only screen and (max-width: 1679px) {
  .header .header__menu-logo .logo__link img {
    max-width: 90%;
  }
}

@media only screen and (max-width: 1439px) {
  .header .header__menu-logo .logo__link img {
    max-width: 80%;
  }
}

@media only screen and (max-width: 991px) {
  .header .header__menu-logo .logo__link img {
    max-width: 70%;
  }
}

.header .header__menu-button {
  position: absolute;
  right: 30px;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (min-width: 991px) {
  .header .header__menu-button {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .header .header__menu-button {
    right: 15px;
  }
}

.header .header__menu-button svg {
  width: 50px;
  height: 50px;
}

@media only screen and (max-width: 991px) {
  .header .header__menu-button svg {
    width: 45px;
    height: 45px;
  }
}

.header .header__menu-button svg .line {
  fill: none;
  stroke: #fff1d6;
  stroke-width: 6;
  -webkit-transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header .header__menu-button svg .line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.header .header__menu-button svg .line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}

.header .header__menu-button svg .line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.header .header__menu-button.open svg .line {
  stroke: white;
}

.header .header__menu-button.open svg .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.header .header__menu-button.open svg .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}

.header .header__menu-button.open svg .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

@media (min-width: 340px) and (max-width: 399px) {
  .header .header__menu-button.open {
    opacity: 0;
  }
}

.header .header__menu-button:hover svg .line {
  stroke: #fff1d6;
}

.header .header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 991px) {
  .header .header__menu-list {
    display: block;
    position: fixed;
    top: 0;
    left: -320px;
    width: 320px;
    height: 100vh;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 99;
    background: #242538;
  }
}

.header .header__menu-list .list__item {
  margin-left: 70px;
}

@media only screen and (max-width: 1679px) {
  .header .header__menu-list .list__item {
    margin-left: 50px;
  }
}

@media only screen and (max-width: 1439px) {
  .header .header__menu-list .list__item {
    margin-left: 30px;
  }
}

@media only screen and (max-width: 991px) {
  .header .header__menu-list .list__item {
    margin-left: 0;
  }
}

.header .header__menu-list .list__item:first-child {
  margin: 60px 0 20px;
}

@media only screen and (min-width: 992px) {
  .header .header__menu-list .list__item:first-child {
    display: none;
  }
}

.header .header__menu-list .list__item-logo img {
  display: block;
  margin: auto;
}

.header .header__menu-list .list__item-link {
  display: block;
  font-size: 18px;
  font-weight: 700;
  color: #fff1d6;
  padding: 30px 0;
}

@media only screen and (max-width: 1679px) {
  .header .header__menu-list .list__item-link {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1199px) {
  .header .header__menu-list .list__item-link {
    font-size: 14px;
  }
}

@media only screen and (max-width: 991px) {
  .header .header__menu-list .list__item-link {
    padding: 15px 30px;
  }
}

.header .header__menu-list .list__item-link:hover {
  text-shadow: 2px 2px 20px rgba(244, 229, 200, 0.7);
}

.header .header__menu-list .list__item .btn {
  margin: 0;
}

@media only screen and (max-width: 1199px) {
  .header .header__menu-list .list__item .btn {
    font-size: 14px;
  }
}

@media only screen and (max-width: 991px) {
  .header .header__menu-list .list__item .btn {
    margin: 10px 30px;
    width: 160px;
  }
}

.header .header__menu-list.show {
  left: 0;
}

.header .header__menu-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 991px) {
  .header .header__menu-action {
    display: none;
  }
}

.header .header__menu-action .more {
  display: block;
  font-size: 18px;
  font-weight: 700;
  color: #fff1d6;
  margin-left: 70px;
}

@media only screen and (max-width: 1679px) {
  .header .header__menu-action .more {
    margin-left: 50px;
  }
}

@media only screen and (max-width: 1439px) {
  .header .header__menu-action .more {
    margin-left: 30px;
  }
}

.header .header__menu-action .more:hover {
  text-shadow: 2px 2px 20px rgba(244, 229, 200, 0.7);
}

.header .header__menu-action .btn {
  line-height: 1.5;
  margin-left: 70px;
}

@media only screen and (max-width: 1679px) {
  .header .header__menu-action .btn {
    margin-left: 50px;
  }
}

@media only screen and (max-width: 1439px) {
  .header .header__menu-action .btn {
    margin-left: 30px;
  }
}

/* End Header */
/* Start Footer */
.footer {
  padding: 120px 0;
}

@media only screen and (max-width: 1439px) {
  .footer {
    padding: 100px 0 50px;
  }
}

@media only screen and (max-width: 575px) {
  .footer {
    padding: 50px 0;
  }
}

.footer .footer__logo {
  margin-bottom: 30px;
}

@media only screen and (max-width: 767px) {
  .footer .footer__logo {
    text-align: center;
  }
}

.footer .footer__content {
  font-size: 14px;
  font-weight: 500;
  color: #f2f2f2;
  line-height: 1.5;
  margin-top: 10px;
  max-width: 350px;
}

@media only screen and (max-width: 767px) {
  .footer .footer__content {
    text-align: center;
    margin: 10px auto 0;
  }
}

.footer .footer__list {
  margin-top: 40px;
}

.footer .footer__list-item {
  margin-bottom: 20px;
}

@media only screen and (max-width: 767px) {
  .footer .footer__list-item {
    text-align: center;
  }
}

.footer .footer__list-item .item__link {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  color: #f2f2f2;
}

.footer .footer__list-item .item__link:hover {
  color: #fff1d6;
  text-shadow: 2px 2px 20px rgba(244, 229, 200, 0.7);
}

.footer .footer__app {
  margin-top: 40px;
  text-align: center;
}

.footer .footer__app a {
  margin-bottom: 20px;
}

.footer .footer__app a img {
  max-width: 100%;
  height: 50px;
}

@media only screen and (max-width: 991px) {
  .footer .footer__app a img {
    max-width: 165px;
  }
}

.footer .footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

@media only screen and (max-width: 991px) {
  .footer .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer .footer__bottom-copyright, .footer .footer__bottom-list {
  color: #f2f2f2;
  font-size: 14px;
  font-weight: 500;
}

.footer .footer__bottom-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 991px) {
  .footer .footer__bottom-list {
    margin: 20px 0;
  }
}

@media only screen and (max-width: 374px) {
  .footer .footer__bottom-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer .footer__bottom-list .list__item {
  margin: 0 10px;
}

@media only screen and (max-width: 374px) {
  .footer .footer__bottom-list .list__item {
    margin-bottom: 15px;
  }
}

.footer .footer__bottom-list .list__item:hover {
  color: #fff1d6;
  text-shadow: 2px 2px 20px rgba(244, 229, 200, 0.7);
}

.footer .footer__bottom-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer__bottom-social .social__link {
  margin: 0 10px;
}

.footer .footer__bottom-social .social__link:first-child {
  margin-left: 0;
}

.footer .footer__bottom-social .social__link:last-child {
  margin-right: 0;
}

/* End Footer */
/* Start Section */
.section {
  position: relative;
}

.section.video {
  padding: 100px 0 120px;
  background: #1e0f0c;
}

@media only screen and (max-width: 991px) {
  .section.video {
    padding: 50px 0;
  }
}

.section.video .section__background {
  background-image: url(../images/video-background.png);
}

.section.element {
  padding: 10px 0 50px;
  min-height: 100vh;
}

@media only screen and (max-width: 991px) {
  .section.element {
    margin-top: 100px;
  }
}

@media (min-width: 1680px) {
  .section.element .container {
    max-width: 1300px;
  }
}

.section.element .section__background {
  background-image: url(../images/element-background.png);
  background-size: cover;
  background-position: center top;
  top: 0;
}

.section.element .section__background::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/rock.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  pointer-events: none;
}

.section.element .section__content {
  margin-top: -80px;
  margin-bottom: 0;
}

.section.element .section__content-title {
  margin-bottom: 0;
}

.section.element .element__item {
  text-align: center;
  cursor: pointer;
}

.section.element .element__item-image img {
  opacity: 0.5;
  -webkit-filter: brightness(130%) contrast(130%) saturate(0%) blur(0px) hue-rotate(0deg);
          filter: brightness(130%) contrast(130%) saturate(0%) blur(0px) hue-rotate(0deg);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

@media only screen and (max-width: 1439px) {
  .section.element .element__item-image img {
    height: 120px;
  }
}

@media only screen and (max-width: 991px) {
  .section.element .element__item-image img {
    height: 90px;
  }
}

.section.element .element__item-content {
  font-size: 22px;
  font-weight: 700;
  color: #6f6f6f;
  margin-top: 10px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

@media only screen and (max-width: 1919px) {
  .section.element .element__item-content {
    font-size: 20px;
    margin-top: 5px;
  }
}

@media only screen and (max-width: 1439px) {
  .section.element .element__item-content {
    font-size: 16px;
    margin-top: 0;
  }
}

.section.element .element__item:hover .element__item-image img {
  opacity: 1;
  -webkit-filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
          filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
}

.section.element .element__item:hover .element__item-content {
  color: #fff1d6;
}

.section.element .elementSwiper .swiper-button-next, .section.element .elementSwiper .swiper-button-prev {
  width: 40px;
  height: 40px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media only screen and (min-width: 576px) {
  .section.element .elementSwiper .swiper-button-next, .section.element .elementSwiper .swiper-button-prev {
    display: none;
  }
}

@media only screen and (max-width: 479px) {
  .section.element .elementSwiper .swiper-button-next, .section.element .elementSwiper .swiper-button-prev {
    width: 35px;
    height: 35px;
  }
}

.section.element .swiper-button-next, .section.element .swiper-button-prev {
  margin-top: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 90px;
  height: 90px;
}

@media only screen and (max-width: 1439px) {
  .section.element .swiper-button-next, .section.element .swiper-button-prev {
    width: 70px;
    height: 70px;
  }
}

@media only screen and (max-width: 991px) {
  .section.element .swiper-button-next, .section.element .swiper-button-prev {
    width: 50px;
    height: 50px;
  }
}

@media only screen and (max-width: 479px) {
  .section.element .swiper-button-next, .section.element .swiper-button-prev {
    width: 40px;
    height: 40px;
  }
}

.section.element .swiper-button-next::after, .section.element .swiper-button-prev::after {
  display: none;
}

.section.element .swiper-button-next {
  background-image: url(../images/icon-next.png);
}

.section.element .swiper-button-prev {
  background-image: url(../images/icon-prev.png);
}

.section.strategy {
  padding: 100px 0;
  background-color: #242538;
  background-image: url(../images/strategy-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 575px) {
  .section.strategy {
    padding: 100px 0 50px;
  }
}

.section.strategy .section__content, .section.strategy .section__image {
  margin-bottom: 0;
  margin-top: 50px;
}

.section.strategy .section__content {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  opacity: 0;
  -webkit-transition: opacity 0.2s 0.2s, -webkit-transform 0.8s 0.2s;
  transition: opacity 0.2s 0.2s, -webkit-transform 0.8s 0.2s;
  transition: opacity 0.2s 0.2s, transform 0.8s 0.2s;
  transition: opacity 0.2s 0.2s, transform 0.8s 0.2s, -webkit-transform 0.8s 0.2s;
}

@media only screen and (max-width: 991px) {
  .section.strategy .section__content {
    margin-top: 30px;
  }
}

.section.strategy .section__content.animate {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.section.strategy .section__image {
  position: relative;
  -webkit-animation: shakeItem2 4s linear 0s infinite normal forwards;
          animation: shakeItem2 4s linear 0s infinite normal forwards;
}

.section.strategy .section__image-particle {
  position: absolute;
  top: 0;
  left: -15%;
  -webkit-animation: shakeItem 4s linear 0s infinite normal forwards;
          animation: shakeItem 4s linear 0s infinite normal forwards;
  pointer-events: none;
}

@media only screen and (max-width: 767px) {
  .section.strategy .section__image-particle {
    top: -20%;
  }
}

@media only screen and (max-width: 575px) {
  .section.strategy .section__image-particle {
    top: -25%;
  }
}

@media only screen and (max-width: 479px) {
  .section.strategy .section__image-particle {
    top: -40%;
  }
}

.section.strategy .section__image-particle img {
  max-width: 70%;
}

.section.strategys {
  padding: 100px 0;
  background-color: #242538;
  background-image: url(../images/strategy-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

@media only screen and (max-width: 575px) {
  .section.strategys {
    padding: 100px 0 50px;
  }
}

@media (min-width: 1439px) {
  .section.strategys .container {
    max-width: 1400px;
  }
}

.section.strategys .swiper-slide {
  margin-bottom: 50px;
  pointer-events: none;
}

.section.strategys .swiper-pagination-bullet {
  position: relative;
  background: transparent;
  border: 1px solid rgba(242, 227, 198, 0.5);
  width: 30px;
  height: 30px;
  opacity: 1;
}

@media only screen and (max-width: 1439px) {
  .section.strategys .swiper-pagination-bullet {
    width: 26px;
    height: 26px;
  }
}

@media only screen and (max-width: 991px) {
  .section.strategys .swiper-pagination-bullet {
    width: 24px;
    height: 24px;
  }
}

@media only screen and (max-width: 479px) {
  .section.strategys .swiper-pagination-bullet {
    width: 18px;
    height: 18px;
  }
}

.section.strategys .swiper-pagination-bullet::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background: linear-gradient(135deg, #fdf6da, #d8b576);
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media only screen and (max-width: 1439px) {
  .section.strategys .swiper-pagination-bullet::before {
    width: 16px;
    height: 16px;
  }
}

@media only screen and (max-width: 991px) {
  .section.strategys .swiper-pagination-bullet::before {
    width: 13px;
    height: 13px;
  }
}

@media only screen and (max-width: 479px) {
  .section.strategys .swiper-pagination-bullet::before {
    width: 10px;
    height: 10px;
  }
}

.section.strategys .swiper-pagination-bullet-active::before {
  opacity: 1;
}

.section.strategys .strategys__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url(../images/strategy-frame.png) center no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
  padding: 50px;
  pointer-events: all;
  margin-bottom: 30px;
  height: 410px;
}

.section.strategys .strategys__item.last {
  background: unset;
  padding: 10px 0;
  height: auto;
}

@media only screen and (max-width: 1439px) {
  .section.strategys .strategys__item.last {
    padding: 50px 0;
  }
}

@media only screen and (max-width: 1199px) {
  .section.strategys .strategys__item.last {
    padding: 70px 0;
  }
}

@media only screen and (max-width: 991px) {
  .section.strategys .strategys__item.last {
    padding: 0;
  }
}

.section.strategys .strategys__item.last .strategys__item-image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media only screen and (max-width: 767px) {
  .section.strategys .strategys__item {
    height: 320px;
    padding: 0 30px;
  }
}

@media only screen and (max-width: 479px) {
  .section.strategys .strategys__item {
    height: 260px;
    padding: 0 30px;
  }
}

@media only screen and (max-width: 374px) {
  .section.strategys .strategys__item {
    height: 200px;
  }
}

.section.strategys .strategys__item-content, .section.strategys .strategys__item-image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media only screen and (max-width: 374px) {
  .section.strategys .strategys__item-image {
    -webkit-box-flex: 0.5;
        -ms-flex: 0.5;
            flex: 0.5;
  }
}

@media only screen and (max-width: 767px) {
  .section.strategys .strategys__item-image img {
    max-height: 250px;
  }
}

.section.strategys .strategys__item-content {
  margin-left: 20px;
}

.section.strategys .strategys__item-content .content__title {
  font-size: 20px;
  font-weight: 700;
  color: #fff1d6;
  line-height: 1.4;
  margin-bottom: 25px;
}

@media only screen and (max-width: 1679px) {
  .section.strategys .strategys__item-content .content__title {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 1439px) {
  .section.strategys .strategys__item-content .content__title {
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 767px) {
  .section.strategys .strategys__item-content .content__title {
    font-size: 18px;
  }
}

@media only screen and (max-width: 479px) {
  .section.strategys .strategys__item-content .content__title {
    font-size: 16px;
    margin-bottom: 15px;
  }
}

.section.strategys .strategys__item-content .content__text p {
  font-size: 16px;
  line-height: 28px;
  color: #fff1d6;
}

@media only screen and (max-width: 1679px) {
  .section.strategys .strategys__item-content .content__text p {
    font-size: 15px;
    line-height: 25px;
  }
}

@media only screen and (max-width: 1439px) {
  .section.strategys .strategys__item-content .content__text p {
    font-size: 13px;
    line-height: 22px;
  }
}

@media only screen and (max-width: 1199px) {
  .section.strategys .strategys__item-content .content__text p {
    font-size: 11px;
    line-height: 16px;
  }
}

@media only screen and (max-width: 479px) {
  .section.strategys .strategys__item-content .content__text p {
    font-size: 10px;
    line-height: 1.4;
  }
}

@media only screen and (max-width: 374px) {
  .section.strategys .strategys__item-content .content__text p {
    font-size: 8px;
  }
}

.section.strategys .strategys__item-content .content__text p:first-child {
  margin-bottom: 30px;
}

@media only screen and (max-width: 1439px) {
  .section.strategys .strategys__item-content .content__text p:first-child {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 1199px) {
  .section.strategys .strategys__item-content .content__text p:first-child {
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 479px) {
  .section.strategys .strategys__item-content .content__text p:first-child {
    margin-bottom: 10px;
  }
}

.section.manifest {
  padding: 100px 0;
  background: url(../images/manifest-background.png) center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.section.manifest .manifest__content img {
  width: 100%;
  max-width: unset;
}

.section.roadmap {
  padding: 100px 0;
  background: url(../images/roadmap-background.png) center no-repeat;
  background-size: cover;
}

.section.roadmap .roadmap__item {
  background: url(../images/roadmap-item.png) center no-repeat;
  background-size: contain;
  width: 100%;
  height: 360px;
}

.section.roadmap .roadmap__item-content {
  padding: 30px 60px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.section.roadmap .roadmap__item-content .content__title {
  font-size: 28px;
  font-weight: 700;
  color: #1e0f0c;
  margin-bottom: 20px;
}

.section.roadmap .roadmap__item-content .content__text {
  font-size: 16px;
  color: #050100;
}

.section.partner {
  padding: 100px 0 200px;
}

@media only screen and (max-width: 991px) {
  .section.partner {
    padding: 100px 0;
  }
}

@media only screen and (max-width: 575px) {
  .section.partner {
    padding: 100px 0 50px;
  }
}

.section.partner .section__content {
  margin: 30px 0 80px;
}

.section.partner .partner__image img {
  display: block;
  margin: auto;
}

@media only screen and (max-width: 575px) {
  .section.partner .partner__image img {
    max-width: 150px;
  }
}

@media only screen and (max-width: 374px) {
  .section.partner .partner__image img {
    max-width: 100%;
  }
}

.section.team {
  padding: 100px 0;
}

@media (min-width: 1680px) {
  .section.team .container {
    max-width: 1366px;
  }
}

.section.team .team__item {
  position: relative;
  height: 350px;
}

.section.team .team__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: url(../images/team-frame.png) center no-repeat;
  background-size: contain;
}

.section.team .team__item img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media only screen and (max-width: 1679px) {
  .section.team .team__item img {
    max-width: 80%;
  }
}

.section.team .team__content {
  text-align: center;
}

.section.team .team__content-name {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  color: #fff1d6;
}

.section.team .team__content-position {
  font-size: 16px;
  color: #fff1d6;
}

.section.register {
  padding: 50px 0;
  min-height: 150vh;
}

.section.register .section__background {
  top: 0;
  background-image: url(../images/register-background.jpg);
  background-size: cover;
}

.section.register .section__content {
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

.section.register .section__content-title {
  font-size: 32px;
}

@media only screen and (max-width: 991px) {
  .section.register .section__content-title {
    font-size: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .section.register .section__content-title {
    font-size: 28px;
  }
}

@media only screen and (max-width: 575px) {
  .section.register .section__content-title {
    font-size: 26px;
  }
}

@media only screen and (max-width: 479px) {
  .section.register .section__content-title {
    font-size: 24px;
  }
}

.section .section__divider {
  position: absolute;
  top: -40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 90%;
  height: 80px;
  background: url(../images/section-divider.png) center no-repeat;
  background-size: contain;
}

.section .section__background {
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1679px) {
  .section .section__background {
    top: 5%;
  }
}

@media only screen and (max-width: 1439px) {
  .section .section__background {
    top: 0;
  }
}

@media only screen and (max-width: 991px) {
  .section .section__background {
    background-size: cover;
    top: 10%;
  }
}

.section .section__content {
  margin-bottom: 50px;
}

.section .section__content-title {
  font-size: 38px;
  font-weight: 700;
  color: #fff1d6;
  margin-bottom: 30px;
  line-height: 1.4;
}

@media only screen and (max-width: 1439px) {
  .section .section__content-title {
    font-size: 36px;
  }
}

@media only screen and (max-width: 1199px) {
  .section .section__content-title {
    font-size: 34px;
  }
}

@media only screen and (max-width: 991px) {
  .section .section__content-title {
    font-size: 32px;
  }
}

@media only screen and (max-width: 767px) {
  .section .section__content-title {
    font-size: 30px;
  }
}

@media only screen and (max-width: 575px) {
  .section .section__content-title {
    font-size: 28px;
  }
}

@media only screen and (max-width: 479px) {
  .section .section__content-title {
    font-size: 26px;
  }
}

@media only screen and (max-width: 374px) {
  .section .section__content-title {
    font-size: 24px;
  }
}

.section .section__content-title span {
  display: block;
  white-space: nowrap;
}

.section .section__content-text {
  font-size: 16px;
  color: #fff1d6;
  line-height: 1.5;
}

@media only screen and (max-width: 991px) {
  .section .section__content-text {
    font-size: 14px;
  }
}

.section .section__content-text span {
  display: block;
}

.section .section__video {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 270px 0;
}

@media only screen and (max-width: 1679px) {
  .section .section__video {
    padding: 260px 0;
  }
}

@media only screen and (max-width: 1439px) {
  .section .section__video {
    padding: 250px 0;
  }
}

@media only screen and (max-width: 1199px) {
  .section .section__video {
    padding: 200px 0;
  }
}

@media only screen and (max-width: 991px) {
  .section .section__video {
    padding: 180px 0;
  }
}

@media only screen and (max-width: 767px) {
  .section .section__video {
    padding: 140px 0;
  }
}

@media only screen and (max-width: 479px) {
  .section .section__video {
    padding: 120px 0;
  }
}

@media only screen and (max-width: 374px) {
  .section .section__video {
    padding: 100px 0;
  }
}

.section .section__video::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: url(../images/video-frame.png) center no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.section .section__video::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: url(../images/video-image.png) center no-repeat;
  background-size: 100%;
  width: 90%;
  height: 90%;
}

.section .section__video-content {
  z-index: 5;
}

.section .section__video-content a {
  position: relative;
}

.section .section__video-content a img {
  display: block;
  width: 130px;
  height: 130px;
}

@media only screen and (max-width: 1919px) {
  .section .section__video-content a img {
    width: 120px;
    height: 120px;
  }
}

@media only screen and (max-width: 1679px) {
  .section .section__video-content a img {
    width: 110px;
    height: 110px;
  }
}

@media only screen and (max-width: 1439px) {
  .section .section__video-content a img {
    width: 100px;
    height: 100px;
  }
}

@media only screen and (max-width: 991px) {
  .section .section__video-content a img {
    width: 90px;
    height: 90px;
  }
}

@media only screen and (max-width: 767px) {
  .section .section__video-content a img {
    width: 70px;
    height: 70px;
  }
}

@media only screen and (max-width: 575px) {
  .section .section__video-content a img {
    width: 60px;
    height: 60px;
  }
}

@media only screen and (max-width: 374px) {
  .section .section__video-content a img {
    width: 50px;
    height: 50px;
  }
}

.section .section__video-content a::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: -1;
}

.section .section__video-content a:hover::after {
  -webkit-transform: scale(2, 2);
          transform: scale(2, 2);
  opacity: 0;
}

.section .section__form {
  max-width: 500px;
  margin: auto;
}

.section .section__form form {
  margin: auto;
  text-align: center;
}

.section .section__form form label {
  display: block;
  font-size: 18px;
  font-weight: 500;
  color: #fff1d6;
  margin-bottom: 20px;
}

@media only screen and (max-width: 991px) {
  .section .section__form form label {
    font-size: 16px;
  }
}

.section .section__form form input {
  max-width: 400px;
  width: 100%;
  color: #fff1d6;
  border: 1px solid #bdbdbd;
  background: #1b0d0a;
  border-radius: 5px;
  padding: 15px 15px;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.section .section__form form input, .section .section__form form input::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 500;
}

.section .section__form form input, .section .section__form form input:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 500;
}

.section .section__form form input, .section .section__form form input::-ms-input-placeholder {
  font-size: 14px;
  font-weight: 500;
}

.section .section__form form input, .section .section__form form input::placeholder {
  font-size: 14px;
  font-weight: 500;
}

.section .section__form form input::-webkit-input-placeholder {
  color: #828282;
}

.section .section__form form input:-ms-input-placeholder {
  color: #828282;
}

.section .section__form form input::-ms-input-placeholder {
  color: #828282;
}

.section .section__form form input::placeholder {
  color: #828282;
}

.section .section__form form input:focus {
  outline: none;
  border-color: #fff1d6;
}

.section .section__form form button {
  display: block;
  margin: auto;
  background: -webkit-gradient(linear, left top, right top, from(#CA7817), to(#F6F2A2));
  background: linear-gradient(to right, #CA7817, #F6F2A2);
  color: white;
  font-size: 15px;
  font-weight: 700;
  border: 1px solid #fff1d6;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  margin-top: 30px;
  min-width: 160px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.section .section__form form button:hover {
  background: -webkit-gradient(linear, right top, left top, from(#CA7817), to(#F6F2A2));
  background: linear-gradient(to left, #CA7817, #F6F2A2);
}

.section.element .section__background {
  height: 300px;
}

@media only screen and (max-width: 991px) {
  .section.p2e {
    padding: 50px 0;
    height: 100%;
  }
}

@media only screen and (max-width: 374px) {
  .section.roadmap .roadmap__item-content .content__title {
    font-size: 1.25em;
  }
}

@media only screen and (max-width: 374px) {
  .section.roadmap .roadmap__item-content .content__text {
    font-size: 0.9em;
  }
}

.section.team .team__item img {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.section.team .team__item:hover img {
  -webkit-filter: unset;
          filter: unset;
}

.section.team .team__content {
  margin-top: 15px;
}

/* End Section */
/* Start Banner */
.banner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url(../images/banner.png) center no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
}

.banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.banner .banner__content {
  position: absolute;
  z-index: 1;
  top: 70%;
}

.banner .banner__content-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
}

@media only screen and (max-width: 374px) {
  .banner .banner__content-button {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.banner .banner__content-button a {
  display: block;
  margin: 0 5px;
  text-align: center;
}

@media only screen and (max-width: 374px) {
  .banner .banner__content-button a:last-child {
    margin-top: 5px;
  }
}

.banner .banner__content-button a img {
  max-width: unset;
  width: 250px;
}

@media only screen and (max-width: 1919px) {
  .banner .banner__content-button a img {
    width: 200px;
  }
}

@media only screen and (max-width: 1439px) {
  .banner .banner__content-button a img {
    width: 175px;
  }
}

@media only screen and (max-width: 991px) {
  .banner .banner__content-button a img {
    width: 150px;
  }
}

.banner .banner__content-button a:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.banners {
  position: relative;
}

.banners__background {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  min-height: 560px;
}

.banners__background .layer {
  width: 100%;
  height: 100%;
}

.banners__background .layer div {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.banners__background .layer .background {
  background: url(../images/back.png) no-repeat 50% 100%;
  background-size: cover;
  position: absolute;
  width: 110%;
  left: -5%;
  top: -5%;
  bottom: -5%;
}

.banners__background .layer .item-01 {
  position: absolute;
  width: 110%;
  height: 100%;
  bottom: -5%;
  left: -5%;
  background: url(../images/middle.png) no-repeat 50% 100%;
  background-size: cover;
  z-index: 5;
}

.banners__background .layer .item-02 {
  position: absolute;
  width: 110%;
  height: 100%;
  bottom: -5%;
  left: -5%;
  background: url(../images/middle2.png) no-repeat 50% 100%;
  background-size: cover;
}

.banners__background::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 17%;
  height: 100%;
  background: url(../images/fore2.png) no-repeat center;
  background-size: cover;
  z-index: 5;
}

@media only screen and (max-width: 1919px) {
  .banners__background::before {
    width: 20%;
  }
}

@media only screen and (max-width: 1679px) {
  .banners__background::before {
    display: none;
  }
}

.banners__background::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 17%;
  height: 100%;
  background: url(../images/fore1.png) no-repeat center;
  background-size: cover;
  z-index: 5;
}

@media only screen and (max-width: 1919px) {
  .banners__background::after {
    width: 20%;
  }
}

@media only screen and (max-width: 1679px) {
  .banners__background::after {
    display: none;
  }
}

/* End Banner */
/*# sourceMappingURL=main.css.map */